@{
    ViewData["Title"] = "Index";
}
@model IQueryable<Product>

<h3>Welcome to the SportsStore</h3>

@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        <p>@p.Description</p>
        <h5>@p.Price.ToString("c")</h5>
    </div>
}